{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url 'user_logout' %}">LogOut</a>
        <a href="{% url 'password_change' %}"> Change Password</a>
    {% else %}
        <a href="{% url 'user_login' %}">Login </a>
    {% endif %}

    {% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}

    {% block body %}
    {% endblock body %}
</body>
</html>